# Ignore all files inside these directories anywhere, but keep the folders
**/_input_files/*
!**/_input_files/.gitkeep
**/_output_files/*
!**/_output_files/.gitkeep
**/__logs/*
!**/__logs/.gitkeep
**/__reports/*
!**/__reports/.gitkeep
**/__temp/*
!**/__temp/.gitkeep

# IDE configuration
.idea/

# Temporary files
*.tmp
*.temp

# ffmpeg 2-pass encoding log files
ffmpeg2pass*.log*
*-0.log
