# Ignore all files inside these directories, but keep the folders
input_files/*
!input_files/.gitkeep
output_files/*
!output_files/.gitkeep
logs/*
!logs/.gitkeep

# IDE configuration
.idea/

# Temporary files
*.tmp
*.temp
