# Ignore all files inside these directories, but keep the folders
_input_files/*
!_input_files/.gitkeep
_output_files/*
!_output_files/.gitkeep
logs/*
!logs/.gitkeep
reports/*
!reports/.gitkeep

# IDE configuration
.idea/

# Temporary files
*.tmp
*.temp
